.actu-container {
    display: flex;
    
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    align-items: center;
}

.actu-container p {
    width: 75%;
}

.actu-container h2{
    margin-top: 3em;
    color:white;
    font-size: 3em;
    text-shadow: 
                -1px -1px 0 black,  
                5px -1px 0 black, 
                1px 1px 0 black,   
                1px 1px 0 black;
    transition: transform 0.3s ease-in-out;
}
.actu-container h2:hover {
    transform: scale(1.2);
}

.actu-article {
    width: 90%;
    height: auto;
    margin-bottom: 2em;
}

.article:first-of-type {
    margin-top: 0;
}

.article {
    width: auto;
    padding: 1em;
    position: relative;
    margin-top:7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: double #555;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.article h3 {
    margin: 0;
    font-size: 2.5em;
    text-align: left;
    width: 100%;
}

.article h4 {
    margin: 0;
    font-size: 1.7em;
    text-align: left;
    color: #e3d898;
    width: 100%;
}

.article .date {
    text-align: left;
    font-size: 1.5em;
    color: #e3d898;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.article .corps:first-of-type {
    padding-top: 0;
}

.article .preview {
    width: 100%;
    font-size: 1em;
    color: #555;
    max-height: 4em;
    overflow: hidden;
    position: relative;
    transition: opacity 0.8s ease-in-out, max-height 0.8s ease-in-out;
}

.article-corps-body {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    width: 100%;
    transition: max-height 0.5s ease-in-out;
}


.article-corps-body-img {
    width: 50%;
    height: auto;
    flex-shrink: 0; 
}

.article-corps-body-img img {
    width: 100%;
    height: auto;
    border-radius: 2em;
}

.article-corps-body-text {
    flex-grow: 1;
    padding: 1em;
    box-sizing: border-box;
}

.article .corps {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-right: 0;
    width: 90%;
    padding-top: 0.45em;
    margin-left: 1.5em;
    line-height: 2;
    font-size: 1em;
    text-indent: 3em;
}

.article .corps {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 90%;
    padding-top: 0.45em;
    margin-left: 1.5em;
    line-height: 2;
    font-size: 1em;
    text-indent: 3em;
}

#search {
    width: 90%;
    border: 1px solid #ccc;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 100%;
}

#search:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(79, 3, 65, 0.5);}

#filter-select {
    width: 20%;
    height: 100%;
    min-width: 10em;
    padding: 10px;
    font-size: 1em;
    border: 2px solid lightgray;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: white;
    color: #4f0341;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#filter-select:hover {
    background-color: lightgray;
}

#filter-select option {
    background-color: white;
    color: #4f0341;
    font-size: 1em;
}

/* Style quand le select est en focus */
#filter-select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(79, 3, 65, 0.5);
}

.actu-container-search-area{
    width: 80%;
    height: 3em;
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.actu-container-search-area >select{
    height: 3em;
}


.article.expanded {
    -webkit-mask-image:none;
    display: block; 
    height: 100%;
    cursor: default;
}




.actu-container button{
    padding: 0.5em;
    background-color: #4f0341;
    display: inline-block;
    transition: 0.5s;

    font-size: 1.5em;
    border: none;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .actu-container button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    right: -20px;
    transition: 0.5s;
  }
  
  .actu-container button:hover{
    background-color: #e3d898;
    color: white;
  }
  
  .actu-container .close-button:hover:after {
    opacity: 1;
    right: 10px;
  }

  .article .close-button {
    position: absolute;
    top: 10px;
    width: 2em;
    height: 2em;
    right: 10px;
    border: 2px solid #4f0341;
    background: transparent;
    font-size: 2em;
    color: #4f0341;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;
}

/* Effet au survol du bouton de fermeture */
.article .close-button:hover {
    color: #e3d898;
    background-color: transparent;
    border: #e3d898 2px solid;
}

  @media screen and (max-width: 768px) {
  .article-corps-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .article-corps-body-img {
    height: 100%;
    width: 100%;
  }
  .article h3 {
    width: 80%;
  }
}