
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes glisse {
    from {
        left: -15em;
    }
    to {
        left: 0;
    }
}

@keyframes slideRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(2em);
    }
  }

  @keyframes slideLeft {
    from {
      transform: translateX(2em);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Animation pour les petits écrans */
  @keyframes scaleUp {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }

  /* Animation de défilement de gauche à droite */
  @keyframes scroll {
    from {
      transform: translate3d(-5em, 0, 0); /* Démarre en dehors à droite */
    }
    to {
      transform: translate3d(5em, 0, 0); /* Finit en dehors à gauche */
    }
  }

/* Police d'écriture personnalisée */

@font-face {
    font-family: 'FLKpolicy';
    src: url('/ttf/flkpolicy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FLKpolicyEntete';
  src: url('/ttf/Electro.ttf') format('truetype');
  font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FLKpolicySignature';
  src: url('/ttf/Rockybilly.ttf') format('truetype');
  font-weight: normal;
}