:root {
    --background-day: #ffffff;
    --text-color-day: #000000;
    --background-night: #777777;
    --text-color-night: #ffffff;
}

html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'FLKpolicy',  sans-serif;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background-day);
    color: var(--text-color-day);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    min-width: 100vw;
    width: 100%;
    pointer-events: auto;
    transition: background-color 0.3s ease;
}

body > img{
    pointer-events: none;
}

/* Entête de site */

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.None{
    display: none;
}


.up{
    padding-top: 5em;
}
.up, .center, .down {
    text-align: center;
    width: 100%;
}

/****************************** bar de site en bas **************************************/

.down{
    background:  linear-gradient(white,rgba(79, 3, 65,0.6));
    color: var(--text-color-day);
    padding: 1em 0;
    font-size: 0.8em;
    line-height: 1.5;
    display: flex;
    height: 10em;
    flex-direction: row;
}



/********************************************************************************/
.image-entete{
    margin: 0 3em;
    position: relative;
    display: inline-block;
}
.text-entete{
    margin-left: 3em;
}
.image-entete >img{
    display: block;
    background-color: transparent;
    height: 100%;
    max-height: 20em;
    width: 100%;
    
}

.entete{
    display: flex;
    padding: 1em 0;
    background-color: whitesmoke;
    align-items:center;
    justify-content: space-between;
    background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%, 
    rgba(127, 67, 97, 0.5) 50%, 
    rgba(255, 255, 255, 1) 100%
    );

}


.section {
    background-color: var(--background-day);
    color: var(--text-color-day);
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: 1em 1em;
    height: 50vh;
}


@media screen and (max-width: 1100px) {


    .up, .entete, .text-entete{

        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
        margin-left: 0;
    }

    .down > p {
        font-size: 0.7em;
        color: black;
    }
}

#backToTopButton {
    position: fixed;
    border: 1px solid #e3d898;
    bottom:1em;
    display: none;
    z-index: 999;
    left: 1em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: black;
    color:white;
    opacity: 0.7;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#backToTopButton:hover, #backToTopButton:focus {
    background-color: whitesmoke;
    color: #4f0341;
}

#backToTopButton i {
    margin: 0;
}



/*------------------------------------------- INTRO AVEC APPARITION DE LOGO -----------------------------------------*/

#introContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

#introGif {
    margin: 0;
    padding: 0;
    width: 10%;
    height: auto;
    object-fit: cover;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.hidden {
    display: none;
}

.sections-menu > .select {
    padding-bottom: 5px;
    border-bottom: 5px solid #4f0341;
    margin-right: 0;
}

#mainContent {
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    width: 100vw;
    height: 100vh;
}



.element {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}

.overlay {
    display: none;
    border: 1px solid #000;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%, -50%);
    background-color: #fff;
    z-index: 2;
}

/**************************** MODE NUIT *******************************/

body.mode-nuit {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .down {
    background:  linear-gradient(black, #4f0341);
    color: white;
}

body.mode-nuit .entete {
    background:  linear-gradient(black, #4f0341,black);
    color: white;
}

body.mode-nuit .menu > button {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .menu > button {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .social-networks > button {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .sections-menu > .select {
    border-color: #e3d898;
    margin-right: 0;
}

body.mode-nuit .sections-menu {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .sections-menu > button {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .section{
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .berkeley{
    background-color: #4f0341;
    color: var(--text-color-night);
}

body.mode-nuit .cv{
    background-color: #e3d898;
    color: var(--text-color-night);
}

body.mode-nuit .down-menu > button, body.mode-nuit .down-menu button:not(:last-child)::after{
    color:white;
}




/* Police d'écriture personnalisée */

@font-face {
    font-family: 'FLKpolicy';
    src: url('flkpolicy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
