:root {
    --background-day: #ffffff;
    --text-color-day: #000000;
    --background-night: #777777;
    --text-color-night: #ffffff;
}


body {
    margin: 0;
    font-family: 'FLKpolicy',  sans-serif;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    background-color: var(--background-day);
    color: var(--text-color-day);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    min-width: 100vw;
    width: 100%;
    pointer-events: auto;
    transition: background-color 0.3s ease;
}

body > img{
    pointer-events: none;
}

html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Entête de site */

button {
    padding: 0.6em 0.6em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    font-family: 'FLKpolicy',  sans-serif;
    border-radius: 5px;
    margin-left: 1em;
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.None{
    display: none;
}

.up, .center, .down {
    text-align: center;
    width: 100%;
}

/****************************** bar de site en bas **************************************/

.down{
    background-color: whitesmoke;
    color: var(--text-color-day);
    padding: 1em 0;
    font-size: 0.8em;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
}

.down-menu {
    display: flex;

    text-align: left;
    gap: 10px; /* Espacement entre les éléments */
}

.down-menu > p:hover{
    color: #4f0341;
}

.img-down{
    width: 50%;
    height: 100%;
    text-align: right;
    margin-right: 3em;
    
}

.img-down > img{
    width: 10em;
    height: auto;
    justify-content: right;
    align-items:end;
}

.hr{
    border-left: 2px solid black;
    height: 10em;
}

.text-down{
    width: 50%;
    height: 100%;
    margin-left: 2em;
    text-align: left;
    align-items: left;
    justify-content: center;

}

.down-menu button {
    background-color: transparent;
    padding:0;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0 5px; /* Ajoute un léger espacement autour des textes */
    position: relative; /* Nécessaire pour le pseudo-élément */
}

.down-menu button:hover {
    cursor: pointer;
}

.down-menu{
    height: 2em !important;
}
.down-menu button:not(:last-child)::after {
    content: "|"; /* Insère la barre */
    position: absolute;
    right: -10px; /* Ajuste l'espacement entre le texte et la barre */
    color: #333; /* Couleur de la barre */
}

/********************************************************************************/
.image-entete{
    margin: 0 3em;
}
.text-entete{
    margin-left: 3em;
}
.image-entete >img{
    background-color: transparent;
    height: 100%;
    max-height: 20em;
    width: 100%;
}

.entete{
    display: flex;
    padding: 1em 0;
    background-color: whitesmoke;
    align-items:center;
    justify-content: space-between;
}

.section {
    background-color: var(--background-day);
    color: var(--text-color-day);
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: 1em 1em;
    height: 50vh;
}


@media screen and (max-width: 1100px) {


    .up, .entete, .text-entete{

        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
        margin-left: 0;
    }

    .down > p {
        font-size: 0.7em;
        color: black;
    }
}

#backToTopButton {
    position: fixed;
    border: 1px solid #e3d898;
    bottom:1em;
    display: none;
    z-index: 999;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: black;
    color:white;
    opacity: 0.7;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#backToTopButton:hover, #backToTopButton:focus {
    background-color: whitesmoke;
    color: #4f0341;
}

#backToTopButton i {
    margin: 0;
    transform: translateY(-0.2em);
}



/*------------------------------------------- INTRO AVEC APPARITION DE LOGO -----------------------------------------*/

#introContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

#introGif {
    margin: 0;
    padding: 0;
    width: 10%;
    height: auto;
    object-fit: cover;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.hidden {
    display: none;
}

#mainContent {
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    width: 100vw;
    height: 100vh;
}



.element {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}

.overlay {
    display: none;
    border: 1px solid #000;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%, -50%);
    background-color: #fff;
    z-index: 2;
}

/**************************** MODE NUIT *******************************/

body.mode-nuit {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .down {
    background-color: #e3d898;
    color: black;
}

body.mode-nuit .entete {
    background-color: black;
    color: white;
}

body.mode-nuit .menu >button {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .social-networks > button {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .sections-menu > .select {
    border-color: #e3d898;
    margin-right: 0;
}

body.mode-nuit .sections-menu {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .sections-menu > button {
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .section{
    background-color: var(--background-night);
    color: var(--text-color-night);
}

body.mode-nuit .berkeley{
    background-color: #4f0341;
    color: var(--text-color-night);
}

body.mode-nuit .cv{
    background-color: #e3d898;
    color: var(--text-color-night);
}


/* Police d'écriture personnalisée */

@font-face {
    font-family: 'FLKpolicy';
    src: url('flkpolicy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}