/*------------------------------------------------------------- MENU ------------------------------------------------------------------*/

.menu {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 1em;
    height: 5em;
    width: 100%;
    background-color: var(--background-day);
    z-index: 1000;
}

body.mode-nuit .menu {
    background-color: var(--background-night);
}

.fondu{
    animation: fadeIn 0.5s ease-out forwards;
}
.menu > img {
    height: 4em;
    cursor: pointer;
    margin-left: 2em;
    margin-right: auto;
}

.social-networks > button {
    background-color: var(--background-day);
    color: var(--text-color-day);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 100% !important;

    border-radius: 0;
}

.sections-menu{
    height:100%;
    background-color: var(--background-day);
    color: var(--text-color-day);
}
.sections-menu > button{
    background-color: var(--background-day);
    color: var(--text-color-day);
    margin-left: 0;
    height: 100% !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0;
}

.sections-menu > button:first-of-type button:last-of-type {
    margin-left: 0;
}

.social-networks{
    display: flex;
    flex-direction: row;
    margin-right: 2em;
}

.down-menu > button,.sections-menu > button, .social-networks > button, .menu-mobile {
    padding: 0.6em 0.6em;
    font-size: 1em;
    font-family: 'FLKpolicy',  sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

.down-menu {
    display: flex;
    text-align: left;
    gap: o.2em; /* Espacement entre les éléments */
}

.down-menu > button:hover{
    color: #4f0341;
}

.img-down{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    box-sizing: border-box;
    text-align: right;
    margin-right: 1em;
    
}

.img-down > img{
    width: auto;
    height: 5em;
    justify-content: right;
    align-items:end;
}

.hr{
    border-left: 2px solid black;
    height: 10em;
}

body.mode-nuit .hr {
    border-left: 2px solid white;
}

.text-down{
    width: 50%;
    height: 100%;
    margin-left: 2em;
    text-align: left;
    align-items: left;
    justify-content: center;

}

.down-menu button:first-child, body.mode-nuit .down-menu button:first-child {
    padding-left:0;
    padding-right: 5px;
}
.down-menu button, body.mode-nuit > .down-menu button {
    background-color: transparent;
    padding:0;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0 5px; /* Ajoute un léger espacement autour des textes */
    position: relative; /* Nécessaire pour le pseudo-élément */
}

.down-menu button:hover {
    cursor: pointer;
}

.down-menu{
    height: 1em !important;
}
.down-menu button:not(:last-child)::after {
    content: "|"; /* Insère la barre */
    position: absolute;
    right: -0.2em; /* Ajuste l'espacement entre le texte et la barre */
    color: #333; /* Couleur de la barre */
}

/* Container du switch */
.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
    margin-right: 2em;
  }
  
  /* Input caché */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Slider principal */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px #2b3a47 solid;
    background-color: #2b3a47; /* Couleur du fond */
    border-radius: 1em; /* Bord arrondi */
    transition: background-color 0.3s ease;
  }
  
  /* Soleil et lune */
  .slider .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    transition: opacity 0.3s ease;
  }
  
  .sun {
    left: 2px;
    color: #2b3a47;
  }
  
  .moon {
    right: 2px;
    opacity: 0; /* Caché par défaut */
  }
  
  /* Rond du switch */
  .slider::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 1em;
    height: 1em;
    left: 2px;
    top: 2px;
    border-radius: 50%; /* Forme circulaire */
    transition: transform 0.3s ease;
  }
  
  /* Lorsque le switch est activé */
  .switch input:checked + .slider {
    background-color: white; /* Couleur du fond activé */
  }
  
  .switch input:checked + .slider::before {
    transform: translateX(1.5em); /* Déplacement du cercle */
    background-color: #2b3a47;
    
  }
  
  .switch input:checked + .slider .sun {
    opacity: 1; /* Affiche le soleil */
  }
  .switch input:checked + .slider .moon {
    opacity: 0; /* Cache la lune */
  }

  .switch input + .slider .moon {
    opacity: 1; /* Affiche la lune */
  }
  .switch input + .slider .sun {
    opacity: 0; /* Cache le soleil */
  }

.menu-mobile{
    display: none;
}

@media screen and (max-width:1100px) {
    .menu-mobile{
        display: block;
        margin: 0;
        animation: fadeIn 1s ease-out forwards;
        background-color: var(--background-day);
        color: var(--text-color-day);
    }
    .social-networks{
        margin-right: 0;
    }

    .sections-menu > button{
        height: 2.5em !important;
    }
    .select{
        border-width: 1px;
    }
    .menu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
        text-align: center;
        width: 100%;
        height: auto;
        padding-bottom: 0.5em;
    }

    .sections-menu {
        display: none;
    }

    .sections-menu > button, .social-networks > button {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 1em;
    }

    .sections-menu > button:first-of-type {
        margin-left: 0em;
    }
    
    .sections-menu > button:last-of-type{
        margin-right: 0em;
    }

    .menu > img {
        height: 3em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .switch {

        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
        margin-right: 0;
    
    }

    .img-down{
        width: 25%;
    }
    .text-down{
        width: 75%;
    }
}