.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espace entre les carrousels */
    gap: 1em; /* Espacement horizontal et vertical entre les carrousels */
    width: 100%;
}

.photos-container .section.photos {
    flex: 1 1 calc(50% - 1em); /* Chaque section prend 50% de la largeur moins l'espacement */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.photos-container .categorie_photos{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.photos-container .image-wrapper {
    left: 0;
    top: 0;
    position: relative; /* Nécessaire pour que l'image se comporte correctement */
  }

  .photos-container .carousel-container {
    margin: 0;
    padding: 0;
    display: inline-block; /* Adapte la taille du conteneur à l'image */
  }
  
  .photos-container .image-wrapper img {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 10;
    height: 100%;
    overflow: hidden;
  }
  
  .photos-container .text-overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128,128,128, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: background-color 0.5s ease;
  }

  .photos-container .text-overlay > h4{
    font-size: 7em;
  }

  .photos-container:hover .text-overlay.hidden {
    color: transparent;
    background-color: rgba(0, 0, 0, 0);
}


body.mode-nuit .photos-container .text-overlay{
  background: rgba(0, 0, 0, 0.6);
}
  
.carousel-container i {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    z-index: 20;
  }
  
.fa-arrow-left {
    left: 0;
    z-index: 2;
  }
  
.fa-arrow-right {
    right: 0;
    z-index: 2;
  }

  .citation {
    letter-spacing: 0.08em;
    font-size: 1.5em;
    padding-top:1em;
    padding-bottom: 1em;
    color:black;
    background-color: transparent;
    background-size: cover;
    background-position: center; 
    width: 100%;
    margin: 0;
}

body.mode-nuit .citation {
  color: white;
}


.citation:before,.citation:after {
    content:'“';
    left:0;

}


/* Gestion responsive */
@media screen and (max-width: 768px) {
  .photos-container .section.photos {
        flex: 1 1 100%; /* Chaque carrousel prend toute la largeur sur mobile */
    }

    .carousel-container {
        width: 100%;
    }

    .photos-container .text-overlay >h4 {
      font-size: 5em;
    }
}
