.photos-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: space-between;
    gap: 1em; 
    width: 100%;
}

.photos-container .section.photos  {
    display: flex;
    flex: 1 1 calc(50% - 1em);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.photos-presentation{
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

.photos-container .image-photos-presentation{
  width: 40%;
  height: auto;
  margin: 0 2em;
}

.photos-container .image-photos-presentation > img{
  border-radius: 2em;
  width: 100%;
  height: auto;
}

.photos-container .text-photos-presentation > h3{
  font-size: 2em;
}


.photos-container .text-photos-presentation {
  width: 60%;
  text-align: left;
  margin:0 1em;
  font-size: 1.5em;
}

.photos-container .text-photos-presentation img {
  width: 3em;
  height: auto;
}

.photos-container .sommaire-photos{
  display: flex;
  flex-direction: column;
}

.photos-container .sommaire-photos > li {
  font-size: 1em;
  color: #e3d898;
  font-style: italic;
  text-align: left;
  transition: color 0.5s ease-in-out;
}

.photos-container .sommaire-photos > li:hover {
  cursor: pointer;
  color:#4f0341;
}

.section.photos {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    gap: 1em;
}

.photos-container  .category-title{
  margin-left: 3em;
  margin-top: 2em;
  color:whitesmoke;
  font-size: 5em;
}

.photos-container .categorie_photos {  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.photos-container .image-wrapper {
    left: 0;
    top: 0;
    position: relative;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .photos-container .carousel-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  
  .photos-container .image-wrapper img {
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
  }
  
  .photos-container .text-overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(128,128,128, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: background-color 0.5s ease;
  }

  .photos-container .text-overlay > h4{
    font-size: 7em;
    margin: 0;
  }

  .photos-container:hover .text-overlay.hidden {
    color: transparent;
    background-color: rgba(0, 0, 0, 0);
}


body.mode-nuit .photos-container .text-overlay{
  background: rgba(0, 0, 0, 0.6);
}
  
.carousel-container i {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    z-index: 20;
  }
  
  .gauche-icon, .droite-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: auto;
    cursor: pointer;
    z-index: 10;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.gauche-icon:hover, .droite-icon:hover {
    opacity: 1; 
}

.gauche-icon {
    left: 0;
}

.droite-icon {
    right: 0;
}

  .hidden {
    color: transparent !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex !important;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}


.modal-content {
  background: white;
  margin: 3em;
  border-radius: 2em;
  width: 100%;
  height: 100%;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  transform: scale(0.95);
  position: relative;  /* Ajouté */
}


.modal-content p, .modal-content h2{
  text-align: center;
}

.text-content {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center; 
  color: white;
  padding: 0.5em 0;
}

.modal-content.text-content h2 {
  margin: 0;
  font-size: 1.5em;
}

.text-content p {
  margin: 0;
  font-size: 1em;
}

.image-wrapper {

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content .image-wrapper img {
  height: 100%;
  width: auto;
}

/* MODAL---------------------------------------------------- */

#img_carrousel {
  position: relative;
  overflow: hidden;
  width: 100%; 
  height: 0;
  padding-bottom: 56.25%; 
}

#img_carrousel img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
  transition: opacity 0.5s ease;
}


#modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.5s ease, height 0.5s ease-in-out;
  max-width: 75%;
  max-height: 75%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal.active .modal-content {
  transform: scale(1);
}

@media screen and (max-width: 768px) {
  .photos-container .section.photos {
        flex: 1 1 100%;
    }

    .photos-container .photos-presentation{
      display: flex;
      flex-direction: column;
    }

    .photos-container .image-photos-presentation {
      width: 90%;
      max-width: 90vw;
    }

    .photos-container .image-photos-presentation > img {
      height: 100%;
      width: 100%;
    }

    .photos-container .text-photos-presentation {
      width: 90%;
    }

    .category-section{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);   
      gap: 1em;
  }

  .category-title {
    margin: 0;
    font-size: 3em;
  }

  .photos-container .category-title {
    margin: 0;
  }

    .carousel-container {
        width: 100%;
    }
    
    #modal-content {
      margin: 0.5em;
      max-width: 100%;
      max-height: 62.5%;
    }

    .photos-container .text-overlay >h4 {
      font-size: 5em;
    }

    .modal-content {
      margin: 0.5em;
      max-width: 100%;
      max-height: 62.5%;
    }

    .modal-content .carousel-container{

      align-content: center;
      justify-content: center;
      display: flex;
    }
}
