.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espace entre les carrousels */
    gap: 1em; /* Espacement horizontal et vertical entre les carrousels */
    width: 100%;
}

.section.photos {
    flex: 1 1 calc(50% - 1em); /* Chaque section prend 50% de la largeur moins l'espacement */
    width: 100%;
    height: 56.25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.categorie_photos{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.image-wrapper {
    left: 0;
    top: 0;
    position: relative; /* Nécessaire pour que l'image se comporte correctement */
  }

.carousel-container {
    margin: 0;
    padding: 0;
    display: inline-block; /* Adapte la taille du conteneur à l'image */
  }
  
  .image-wrapper img {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 10;
    height: 100%;
    overflow: hidden;
  }
  
  .text-overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: background-color 0.5s ease; /* Transition douce */
  }
  .text-overlay:hover  {
    background-color: rgba(0, 0, 0, 0);
    color: transparent;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition fluide */
  }
  
  .fa-arrow-right:hover ~ .text-overlay, 
  .fa-arrow-left:hover ~ .text-overlay {
    background-color: rgba(0, 0, 0, 0);
    color: transparent;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition fluide */
}
  
  .carousel-container i {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    z-index: 20;
  }
  
  .carousel-container .fa-arrow-left {
    left: 0;
    z-index: 2;
  }
  
  .carousel-container .fa-arrow-right {
    right: 0;
    z-index: 2;
  }

  .citation {
    letter-spacing: 0.08em;
    font-size: 1.5em;
    padding-top:1em;
    padding-bottom: 1em;
    color:whitesmoke;
    background-image: url(/Photos/citation.JPG);
    background-size: cover;
    background-position: center; 
    width: 100%;
    margin: 0;
}

.citation:before {
    content:'“';
    left:0;
    color: whitesmoke;
    margin-left: -1em;
    top:1em;
}

.citation:after {
    content:'“';
    left:0;
    color: whitesmoke;
    margin-left: -1em;
    top:1em;
}


/* Gestion responsive */
@media screen and (max-width: 768px) {
    .section.photos {
        flex: 1 1 100%; /* Chaque carrousel prend toute la largeur sur mobile */
    }

    .carousel-container {
        width: 100%;
    }
}
