/*---------------------------------------------- PRESENTATION ----------------------------------------------------------------------*/

.presentation-container{
    font-family: 'Caudex';
    width: 100%;
    margin:0;
}
.presentation-container > p {
    margin-left: 5em;
    font-family: 'Garamond',sans-serif;
    font-size: 1em;
    margin-right: 5em;
    text-align: justify; 
    line-height: 3;
}

.city-presentation {
    background-color: #eeeeee;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    height: auto;
    text-align: justify;
    line-height: 2;
}

.city-presentation > p {
    margin: 1em;
}
.city-presentation > h2,h3 {
    border-radius: 1.5em;
    padding: 0.5em;
    margin-right: 0.5em;
    font-size: 2.5em;
    letter-spacing: 0.08em;
    font-weight: 100;
    margin-left: 0.5em;
    color: whitesmoke;
    text-align: left; 
}
.city-presentation > h3 {
    font-size: 2em;
    text-align: left; 
}
.city-presentation > h4 {
    border-radius: 1.5em;
    padding: 0.5em;
    margin-right: 1em;
    font-size: 2em;
    letter-spacing: 0.08em;
    font-weight: 100;
    margin-left: 1em;
    text-align: left; 
}

.image_city_section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 10em;
    width: auto;
}

.image_city_section > img {
    height: 100%;
    margin-left:1em;
}





.section {
    background-color: #eeeeee;
    color: black;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    height: auto;
}
.text-section{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    flex: 1;
    line-height: 3;
    padding: 0 1em;
}

.text-section > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

.text-section > a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    color: whitesmoke;
    margin-left: 1em;
}

.text-section > ul{
    line-height: 2;
}

.text-section p > a{
    font-family:'Courier New', Courier, monospace;
    color: whitesmoke;
}
.image-section{
    width: 25%;
    height: auto;
    mix-blend-mode: normal;
    margin: 3em 1em;
}
.image-section > img{
    border-radius: 2em;
    width: 100%;
    height: 100%;    
}





.citation {
    font-family: Garamond, serif;
    letter-spacing: 0.08em;
    font-size: 1.5em;
    padding-top:1em;
    padding-bottom: 1em;
    color:whitesmoke;
    background-image: url(/Photos/citation.JPG);
    background-size: cover;
    background-position: center; 
    width: 100%;
    margin: 0;
}

.citation:before {
    content:'“';
    left:0;
    color: whitesmoke;
    margin-left: -1em;
    top:1em;
}

.citation:after {
    content:'“';
    left:0;
    color: whitesmoke;
    margin-left: -1em;
    top:1em;
}

@media screen and (max-width: 1100px) {
    .contact-text{
        display:flex;
        flex-direction: column;
    }

    .presentation-container > h2 {
        padding: 0.7em;
        font-size: 2em;
        text-align: center;
    }

    .presentation-container > h3 {
        padding: 0.7em;
        font-size: 1.5em;
        text-align: center;
    }

    .presentation-container > h4 {
        padding: 0.7em;
        font-size: 1.3em;
        border-radius: 1.5em;
        margin-left: 3em;
    }

    .presentation-container > img {
        height: 10em;
        width: auto;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .presentation-container > p {
        font-size: 0.8em;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-section{
        width: 50%;
        height: auto;
        mix-blend-mode: normal;
        margin: 1em 0;
    }

    .text-section > h2{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1em;
    }

    .text-section{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        height: 100%;
        flex: 1;
        line-height: 3;
        padding: 0 2em;
        font-size: 0.7em;        
    }
    
}

li{
    text-align: left;
    font-size: 1.4em;
}
li::before{
    content: "👨‍💻";
    padding-right: 1em;
    color: green;
  }