.section-presentation{
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-section-presentation > img {
    width: auto;
    height: 10em;
}

#presentation-img-2 {
    transition: transform 0.3s ease;
}

#presentation-img-2:hover {
    transform: scale(1.2);
}

.text-section-presentation{
    width: 50%;
    margin:0 3em;
}
.text-section-presentation > h2 {
    font-size: 3em;
    right: 0;
    color: white;
    text-shadow: 
                -1px -1px 0 black,  
                4px -1px 0 black, 
                1px 1px 0 black,   
                1px 1px 0 black; 
    transition: transform 0.3s ease;
}
.text-section-presentation > h2:hover {
    transform: scale(1.2);
}

.text-section-presentation > h2:first-child{
    text-align: left;
}
.text-section-presentation > h2:last-child{
    text-align: right;
    margin-bottom: 1em;
}

.text-section-presentation > p {
    font-size: 2em;
    text-align: justify;
    right: 0;
    color: white;
    text-shadow: 
                -1px -1px 0 black,  
                1px -1px 0 black, 
                -1px 1px 0 black,   
                1px 1px 0 black; 
}

.section-menu-presentation {
    display: grid;
    border-radius: 1em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    width: 95%; 
    height: 75vh;
    margin: auto;
}

.presentation-container > .image-section-presentation {
    margin: 5em 0 ;
    background-size: contain;
    animation: rotateZoom 4s ease-in-out infinite;
}


.menu-item {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:first-of-type {
    border-top-left-radius: 2em; 
    border-bottom-left-radius: 2em; 
}

.menu-item:last-of-type {
    border-top-right-radius: 2em; 
    border-bottom-right-radius: 2em; 
}

.menu-item:hover {
    transform: scale(1.05);
    z-index: 1000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.menu-text {
    font-size: 3em;
    font-weight: bold;
    z-index: 2;
    color: white;
    text-shadow: 
                -1px -1px 0 #4f0341,  
                4px -1px 0 #4f0341, 
                1px 1px 0 #4f0341,   
                1px 1px 0 #4f0341; 
}

.menu-desc {
    font-size: 16px;
    margin-top: 10px;
    z-index: 2;
}

/* Optional overlay for better text visibility */
.menu-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
}

@media screen and (max-width: 1100px) {
    .section-presentation {
        display: inline-block;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-section-presentation{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-section-presentation > img {
        width: auto;
        height: 8em;
    }

    .text-section-presentation{
        margin: 1em;
        width: auto;
    }

    .section-menu-presentation {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        width: 80%; 
        height: 100%;
        margin: auto;
    }

    .menu-item {
        height: 50vh;
    }
    .text-section-presentation > h2:hover {
        transform: none;
    }
    
}