.section-presentation{
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-section-presentation > img {
    width: auto;
    height: 10em;
}

.text-section-presentation{
    width: 50%;
    line-height: 3;
    margin:0 3em;
}
.section-presentation > h2 {
    width: 100%;
    right: 0;
}

.section-menu-presentation {
    display: grid;
    border-radius: 1em;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: 1fr 1fr;  /* 2 rows */
    width: 75%; /* 75% width of the viewport */
    height: 75vh; /* Adjust height as needed (75% of viewport height here) */
    margin: auto; /* Centers the grid horizontally and vertically */

}

.presentation-container > .image-section-presentation {
    margin: 5em 0 ;
    background-size: contain;
    animation: rotateZoom 4s ease-in-out infinite;
}





.menu-item {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.menu-text {
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
}

.menu-desc {
    font-size: 16px;
    margin-top: 10px;
    z-index: 2;
}

/* Optional overlay for better text visibility */
.menu-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
}

@media screen and (max-width: 1100px) {
    .section-presentation {
        display: inline-block;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-section-presentation{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-section-presentation > img {
        width: auto;
        height: 8em;
    }

    .text-section-presentation{
        margin:0;

        width: 100%;
    }
}


@keyframes rotateZoom {
    0% {
        transform: scale(0.5) rotate(0deg);
        opacity: 0;
    }
    50% {
        transform: scale(1.1) rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: scale(0.5) rotate(360deg);
        opacity: 0;
    }
}

