/*-------------------------------- PROJET -------------------------------------------------------------------*/

.projets-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.projets-container > .projet-section {
    height: 25vh;
  }

.projets-container > h2 {
    font-size: 2.5em;
    letter-spacing: 0.08em;
    font-weight: 100;
    text-align: left; 
}

.projets-container .projets {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 20px;
}

.projets-container .projet {
    overflow: hidden;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}


.projets .carousel-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 2em;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide > img{
    width: 100%;
    display: block;
    height: 100%;
    overflow: hidden;
    aspect-ratio:1/1;
}

.projets-container .projet h4 {
    width: 100%;
    margin: 0.5em;
    font-size: 2em;
    
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.projets-container .projet h3 {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.projet .carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; 
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: contain; 
    object-position: center; 
}

.projet .carousel-images > .text-slide, .githublink{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.githublink {
    display: flex;
    flex-direction: column;
}
.githublink > a {
    display: flex;
    margin-top: 1em;
    position: relative;
    transform: none;
    width: auto;
    height: auto;
    color: white;
    font-size: 2em;
    z-index: 1;

}
.projet .carousel-images > .text-slide p{
    margin: 0 3em;
}

.carousel-slide {
    flex: 0 0 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
}

.video-slide{
    background-color: black !important;
}
.projet:nth-child(3) > .carousel-container .carousel-images .carousel-slide:first-of-type{
    background-color:#095228 ;
}
.projet:nth-child(4) > .carousel-container .carousel-images .carousel-slide:first-of-type{
    background-color:#432373 ;
}

.projet:nth-child(5) > .carousel-container .carousel-images .carousel-slide:first-of-type{
    background-color:#1e0c36 ;
}

.projet:nth-child(6) > .carousel-container .carousel-images .carousel-slide:first-of-type{
    background-color:rgb(20,20,20) ;
}

.projet:nth-child(7) > .carousel-container .carousel-images .carousel-slide:first-of-type{
    background-color:lightgray;
}

body.mode-nuit .carousel-slide{
    background-color: #4f0341;
}


.githublink:hover > a{
    text-decoration: underline;
}

.projets-container .competences {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.projets-container .competences span {
    background-color: black;
    border-radius: 2em;
    color: white;
    padding: 0.2em 1em;
    font-size: 1.2em;
    text-transform: capitalize;
}

body.mode-nuit .projets-container .competences span {
    color: black;
    background-color: #e3d898;
}

.projet .text-overlay:hover{
    opacity: 0;
}

.projets-container .fa-arrow-left:hover, .fa-arrow-right:hover {
    transform: translateY(-50%) scale(1.1);
    transition: transform 0.2s ease;
}

/* Transition fluide des slides */
.projets-container .slide-transition {
    transition: transform 0.5s ease;
}

.projets-container .carousel-container > .fa-arrow-left{
    left: 0;
    text-align: center;
}

.projets-container .carousel-container > .fa-arrow-right{
    right: 0;
    text-align: center;
}

.projets-container .text-projet{
    text-align: center;
    padding: 0 2em;
    justify-content: start;
    align-items: center;
}

.projets-container .title-projet{
    height: 4em;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

.projets-container .title-projet > h2 {
    font-size: 2em;
    text-align: left;
    letter-spacing: 0.2em;    
}

.projets-container .video-section{
    line-height: 2;
    width: 100%;
}


.projets-container .carousel-video {
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    aspect-ratio: 16 / 9; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.projets-container .carousel-video iframe {
    border-color:var(--text-color-day);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
@media screen and (max-width: 1100px) {
    .projets-container .section{
        height: auto;
    }

}
@media screen and (max-width: 768px) {

    .projets-container .section{
        height: auto;
        font-size: 2em;
        margin: 0;
    }
    .projets-container .projets {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
        padding: 20px;
    }

    .projets-container .projets {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px; 
        padding: 20px;
    }

    .projets-container .projet h3 {
        margin: 0.5em;
    }

    .projets-container .competences {
        margin-bottom: 4em;
    }

    .projets-container .projets, .projets-container .projet {
        gap: 0;
        padding: 0;
    }

    .projet > p {
        margin: 0 1em;
    }
    .projet > h2 {
        font-size: 1.5em;
    }

}