.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 100%;
    align-items: center;
}

.section-services{
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section-services {
    height: auto;
    width: 60%;
    margin-bottom: 4em;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
  }

.text-section-services h2{
    width: 100%;
}
.text-section-services h2:first-of-type{
    margin-top: 2em;
    left: 0;
    text-align: left;
}
.text-section-services p{
    text-align: justify;
}
.text-section-services h2:nth-of-type(2){
    margin: 0;text-align: right;
}
.text-section-services h2:last-of-type{
    text-align: center;
}

.service {
    display: flex;
    width: 100%;
    margin: 3em 0;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
  
.service > .image-section {
    width: 40%;
    overflow: hidden;
    height: auto;
}
  
.services-container .image-section > img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1em;
    transition: transform 0.3s ease;
}

.services-container .image-section > img:hover {
    transform: scale(1.03);
}
  
.services-container .text-section {
    width: 40%;
    box-sizing: border-box;
    font-size: 0.8em;
    height: auto;
}
  
.services-container .text-section > h2 {
    font-size: 3em;
    margin-bottom: 1em;
    right: 0;
    color: white;
    text-shadow: 
                -1px -1px 0 black,  
                4px -1px 0 black, 
                1px 1px 0 black,   
                1px 1px 0 black; 
    transition: transform 0.3s ease;
}
.services-container .text-section h2:hover {
    transform: scale(1.1);
}

body.mode-nuit .service > .text-section button {
  background-color: #e3d898;
  color: black;
}

.service > .text-section button {
  margin-top: 0.5em;
  border: none;
  background-color: #4f0341;
  border-radius: 2em;
  color: white;
  padding: 0.2em 1em;
  font-size: 2em;
  text-transform: capitalize;
}

.service > .text-section button:hover {
  cursor: pointer;
}


body.mode-nuit .projets-container .competences span {
  color: black;
  background-color: #e3d898;
}

.services-container .text-section > p {
    line-height: 1.5;
    font-size: 1.5em;
    margin:0 2em;
    text-align: left;
}
  
.text-section ul {
    list-style-type: disc;
}

.contact-services{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-contacts-services > a{
    font-size: 2em;
    width: auto;
    color: #4f0341;
    margin-left: 1em;
}

body.mode-nuit .text-contacts-services > a{
  color: white;
}

.text-contacts-services{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 3em;
}

.text-contacts-services > a{
  transition: transform 0.3s ease;
}

.text-contacts-services > a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {


    .section-services .text-section-services {
      width: 80%;
    }

    .service{
      flex-direction: column;
      margin: 0;
    }

    .image-section{
      margin-top: 1em;
      margin-bottom: 0;
    }

    .service > .image-section {
      width: 90%;
    }

    .service > .text-section h2, .text-section-services h2{
      font-size: 4em;
      margin: 1em 0 ;
    }

    .text-section-services p{
      font-size: 1.5em;
    }

    .service > .text-section ul{
      font-size: 1em ;
    }

    .service > .text-section p{
      font-size: 2em ;
    }

    .services-container .text-section {
      width: 100%;
      font-size: 0.8em;
      height: auto;
    }
    
  }
@media screen and (max-width: 1100px) {
    .service > .image-section {
      width: 50%;
    }

    .service{
      width: 80%;
    }
}