/*----------------------------------------- MULTIMEDIAS ------------------------------------------------------*/

.videos-container {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}


.videos-container > h2 {
    font-size: 2.5em;
    letter-spacing: 0.08em;
    font-weight: 100;
    text-align: left; 
}

.videos-container > p {
    margin-bottom: 3em;
    margin-left: 3em;
    margin-right: 3em;
    line-height: 3;
}


.pelicule{
    width: 100%;
    height: auto;
}

.galerie-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colonnes égales */
    gap: 20px; /* Espacement entre les vidéos */
    margin:0 3em;
    margin-bottom: 5em;
    align-items: center;
}

.video-container {
    border-radius: 1em;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: whitesmoke 1px solid;
    background: linear-gradient(to bottom, #4f0341, #d3a4ca, #4f0341);
    color:white;
    
}

.video-container:nth-child(odd) {
    align-self: end; /* Placer les impaires en bas */
}

.video-container:nth-child(even) {
    align-self: start; /* Placer les paires en haut */
}


  .video-container > p {
    font-size: 1em;
    margin:1em;
  }

  .video-container  > iframe {
    width: calc(100% - 0.9em);
    margin:0.3em;
    aspect-ratio: 16 / 9; 
    border-color: none ;
    border-radius:1em;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
  }

  .video-container:hover iframe {
    transform: scale(1.02) ; /* Zoom au survol */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

  .videos-text {
    margin: 0 1em 1em 1em;
    color: black;
    width: auto;
  }

  .fa {
    margin: 0 5px;
  }

  .networks i {
    font-size: 2em;
    color:whitesmoke;
}

@media screen and (max-width: 1100px) {

    .videos-container > p {
        font-size: 0.8em;
    }

    .videos-container > h2 {
        font-size: 1.5em;
    }
    .videos-text > h4 {
        font-size: 0.7em;
    }

    .video > p {
        font-size: 0.6em;
    }

    .video > iframe {
        margin-left: 2em;
        margin-right: 2em;
        width: auto;
        height: calc(100% * (10 / 16)); /* ratio 16:10 */
        border-color: #18181a;
        border-radius: 3em;
    }

    .galerie-videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .videos > i:first-of-type{
        position: absolute;
        top: 50%;
        width: 1em;
        height: 1em;
        transform: translateY(-50%) translateX(calc(-50% + 1.5em));
        left: 0;
        color:white !important;
        background-color: rgba(0, 0, 0, 0.7) !important;
    }
    
    .videos > i:last-of-type{
        position: absolute;
        top: 50%;
        right: 0;
        width: 1em;
        height: 1em;
        transform: translateY(-50%) translateX(calc(50% - 1.5em)); 
        color:white !important;
        background-color: rgba(0, 0, 0, 0.7) !important;
    }


    
    .videos:nth-child(even) img {
        box-shadow: 0 0 0 0.3em rgb(0, 5, 50), 0 0 0 0.4em whitesmoke;
    }

    .networks i {
        font-size: 1em;
    }

}


