/*----------------------------------------- MULTIMEDIAS ------------------------------------------------------*/

.videos-container {
    display: flex !important;         
    flex-direction: column;          
    align-items: center;      
    justify-content: center;         
    width: 75%;             
    height: 100%;              
    margin: 0 auto;                
    position: relative;   
}

.pelicule{
    width: 100%;
    height: auto;
}

.galerie-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1em; 
    margin-bottom: 5em;
    align-items: center;
}

.video-container {
    border-radius: 1em;
    aspect-ratio: 16 / 9;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color:white; 
}

.video-container > iframe{
    border:none
}

.video-container:nth-child(odd) {
    align-self: end; 
}

.video-container:nth-child(even) {
    align-self: start;
}

.video-container > h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    text-shadow: none;
    text-align: left;
    color: black;
    font-size: 2em;
}

.video-container > p {
    color: black;
    text-align: left;
    font-size: 1em;
}

.video-container  > iframe {
    width: calc(100% - 0.9em);
    margin:0.3em;
    aspect-ratio: 16 / 9; 
    border-color: none ;
    border-radius:1em;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.videos-container .competences {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.videos-container .competences span {
    background-color: black;
    border-radius: 2em;
    color: white;
    padding: 0.2em 1em;
    font-size: 1.2em;
    text-transform: capitalize;
}

.videos-container .text-section p > a {
    color:var(--cassis)
}

body.mode-nuit .videos-container .text-section p > a {
    color:#e3d898
}

body.mode-nuit .video-container > h3, body.mode-nuit .video-container > p {
  color: white;
}
body.mode-nuit .videos-container .competences span {
  color: black;
  background-color: #e3d898;
}

.videos-container > .section-videos { 
    width: 70%;
  }
.videos-container h2:first-of-type {
    text-align: left; 
    margin: 0;
  }

    .videos-container h2:last-of-type {
        text-align: right; 
        margin: 0;   
    }
    

@media screen and (max-width: 1100px) {
    .videos-container{
        width: 100%;
    }

    .video-container{
        margin-bottom: 3em;
    }

    .videos-container .text-section > p {
        font-size: 1.2em;
        line-height: 2;
    }

    .videos-container .text-section > h2 {
        margin:1em 0 ;
        font-size: 3em;
    }
        
    .videos-text > h4 {
        font-size: 0.7em;
    }

    .videos-container > .section-videos { 
        width: 100%;
      }

      .video-container:nth-child(odd),.video-container:nth-child(even)  {
        width: 100%;
        align-self:auto;
    }

    .video > p {
        font-size: 0.6em;
    }

    .video > iframe {
        margin-left: 2em;
        margin-right: 2em;
        width: auto;
        height: calc(100% * (10 / 16));
        border-color: #18181a;
        border-radius: 3em;
    }

    .galerie-videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}