/* CODE POUR LA DISPOSITION DES ELEMENTS ET L'ESTETIQUE DE L'ESPACE POUR IMPORTER ET CHANGER
    L'ORDRE DE PASSAGE DES NIVEAUX DURANT UNE PARTIE DE BOULDER DASH */

niveaux{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}

/* CUSTOMSATION DE L'ESPACE POUR ENTRER LE NOM D'UN FICHIER */
body > input{
    background-color: whitesmoke;
    border: 1px solid darkblue;
    border-radius: 1%;
    color:#5533ff;
    font-size: 1.7rem;
    cursor:pointer;
}
@media screen and (max-width: 480px) {
    body > input{
        background-color: whitesmoke;
        border: 1px solid darkblue;
        border-radius: 1%;
        color:#5533ff;
        font-size: 1rem;
        cursor:pointer;
    }
}


.importation {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
.importation input[type=file] {
    left: 0;
    cursor: pointer;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 1em;
}
.btn{
    margin-bottom: 5%;
}
.btn-active:hover {
    background-color: #5533ff;
    color: whitesmoke;
}
h2{
    Font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}
.niv{
    height:50%;
    color:whitesmoke;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: double;
    border-radius: 10px;
    border-color: #5533ff;
    background-color: rgb(117, 117, 216);
    padding: 1%;
}
input{
    height:50%;
    color:whitesmoke;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: double;
    border-radius: 10px;
    border-color: #5533ff;
    background-color: rgb(117, 117, 216);

}