regles{
    /* EMPLACEMENT DU TEXTE */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    opacity: 90%;
    border-radius: 20%;
    border-style:double;
    padding : 5% 5% 5% 5%;
    background-color: darkblue;

    /* --------------- */

    /* MODIFICATION DU TEXTE */
    color: whitesmoke;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 200%;
    /* ---------------- */
}
@media screen and (max-width: 480px) {
    regles{
        /* EMPLACEMENT DU TEXTE */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
        opacity: 90%;
        border-radius: 20%;
        border-style:double;
        padding : 5% 5% 5% 5%;
        background-color: darkblue;
    
        /* --------------- */
    
        /* MODIFICATION DU TEXTE */
        color: whitesmoke;
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.1em;
        line-height: 200%;
        /* ---------------- */
    }
}

/* MODIFICATIONS DE L'EMPLACEMENT ET DE LA TAILLE DE L'IMAGE */
regles > img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4%;
    width: 80%;

}
#haha:hover{
    cursor: pointer;
    
}
/* MODIFICATION DE LA TAILLE DU BOUTON ( LES MODIFICATIONS DES BOUTONS SONT DANS LE FICHIER pageaccueil.css ) */
.regles{
    padding: 1rem 4rem;
}